@import "style.scss";
@import "spacer.scss";
@import "./vendor/antd.scss";


.purpleBg{
    background:$purple;
}
.skyBg{
    background:$sky-blue;
}
.greenBg{
    background:$teal;
}
.pinkBg{
    background:$pink;
}
.whiteBg{
    background:$white;
}

.pt-15{
    padding-top:15px;
}
.pr-0{
    padding-right: 0px;
}
