.timeline {
    list-style-type: none;
    position: relative;
    margin-left:30px;
    &:before {
        content: ' ';
        background: #d4d9df;
        display: inline-block;
        position: absolute;
        left: 22px;
        width: 1px;
        height: calc(100% - 22px);
        // z-index: 400;
    }
    li{
        margin: 0 0 20px;
        padding-left: 0px;
        &:last-child{margin: 0;}
        .time{
            font-size: 12px;
            @extend .font-medium;
        }
        p{
            font-size: 12px; 
            vertical-align: top;
            &:last-child{
                margin-bottom: 17px;
            }
        }
        small{
            font-size: 14px;
            @extend .font-medium;
            vertical-align: top;
        }
        &:before{
            content: ' ';
            background: white;
            display: inline-block;
            position: absolute;
            border-radius: 50%;
            left: 15px;
            width: 15px;
            height: 15px;
            // z-index: 400;
            border:2px solid;

        }
        &.pink{
            &:before{
                border-color: $pink;
            }
        }
        &.darkgreen{
            &:before{
                border-color: $darkgreen;
            }
        }
        &.skyblue{
            &:before{
                border-color:  $sky-blue;
            }
        }
        &.yellow{
            &:before{
                border-color: $yellow;
            }
        }
    }
    .time{
    position: absolute;
    left: -30px;
    }
}